<!doctype html>
<html>
  <title>Hello from Flask</title>
  <body>
   <div class="container">
     <h1>My Collection</h1>
     <br>
     <div id="content"></div>
   </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

    <script type="text/jsx">

    /*** @jsx React.DOM */

    var album = React.createClass({
        displayName: 'Album',
        render: function() {
        return (<h2>Greetings, from Real Python!</h2>);
        }
    });

    ReactDOM.render(
        React.createElement(album, null),
        document.getElementById('content')
    );

    </script>
  </body>
</html>
